<IfModule mod_mime.c>
    AddType application/manifest+json .webmanifest .json
</IfModule>

<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php8.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
